body {
  background-color: #333 !important;
  color: #faf6f0;
}

.nav-link {
    color: #dcccafda;
}

.nav-link:hover {
    color: #ffebb4e5;
}

.tag-btn {
  color: #faf6f0;
  border-color: #faf6f0;
}

.tag-btn:hover,
.tag-btn:focus {
  background-color: #faf6f0;
  border-color: #faf6f0;
  color: #333;
  text-decoration: none;
}
