body {
    background-color: #faf6f0 !important;
}

a {
    color: #8a7855;
}

a:hover {
    color: #5a5156;
}

.nav-link {
    color: #bca16f;
}

.nav-link:hover {
    color: #665c61;
}

.tag-btn {
    color: #665c61;
    border-color: #665c61;
}

.tag-count {
    background-color: #665c61be;
    color: #faf6f0;
}

.tag-btn:hover,
.tag-btn:focus {
    background-color: #665c61;
    border-color: #665c61;
    color: #faf6f0;
    text-decoration: none;
}

article {
    --table-border-color: #665c61;
    --table-header-bg: rgba(102, 92, 97, 0.15);
    --table-row-alt-bg: rgba(102, 92, 97, 0.08);
}
