body {
    background-color: #faf6f0 !important;
}

.nav-link {
    color: #bca16f;
}

.nav-link:hover {
    color: #665c61;
}

.tag-btn {
    color: #665c61;
    border-color: #665c61;
}

.tag-btn:hover,
.tag-btn:focus {
    background-color: #665c61;
    border-color: #665c61;
    color: #faf6f0;
    text-decoration: none;
}
