{{ define "main" }}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <h1>{{ .Title }}</h1>
            {{ range .Paginator.Pages }}
            <p>
                <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                {{ partial "metadata.html" . }}
                <a class="summary" href="{{ .RelPermalink }}">
                    <p>{{ .Summary }}</p>
                </a>
            </p>
            {{ end }}
            {{ partial "pagination.html" . }}
        </div>
    </div>
</div>
{{ end }}